<template>
<!-- ===================== div de vue =============================== -->
  <div>
    <!-- ===================== Navegacion =============================== -->
      <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">J.E.J</a>
</nav>
<!-- ===================== Fin de navegacion =============================== -->
<!-- ===================== container de la seccion=============================== -->
<div class="container-fluid mt-2">
<!-- ===================== Breadcrumb =============================== -->
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Comentarios</li>
  </ol>
</nav>
<!-- ===================== Fin de Breadcrumb =============================== -->
  <!-- ===================== Jumbotron (mensaje de informacion) =============================== -->
  <div class="jumbotron ">
  <h1 class="display-4 text-center">Seccion de Comentarios</h1>
  <p class="lead text-center">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p class="text-center">It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>
<!-- ===================== Fin de jumbotron (mensaje de informacion) =============================== -->
       <table class="table table-hover mt-5">
         <thead class="thead-light">
           <tr >
             <th>Titulo</th>
             <th>Correo</th>
             <th>Fecha</th>
             <th>Id</th>
             <th>Descripcion</th>
             <th>handlers</th>
           </tr>
         </thead>
         <tbody>
           <tr v-for="a of tasks">
            <th>{{a.title}}</th>
             <th>{{a.email}}</th>
             <th>{{moment(a.fecha).fromNow()}}</th>
             <th>{{a._id}}</th>
             <th>{{a.desc}}</th>
             <th> 
               <button type="button" @click="deletedTask(a._id)" class="btn btn-danger">Delete</button>
               <!-- <button type="button" @click="editTask(a._id)" class="btn btn-info mt-2">Edit</button> -->
             </th>
             </tr>
         </tbody>
       </table>
      
       <!-- ===================== Formulario en tarjeta =============================== -->
       <hr>

    <div class="card">
        <div class="card-body">
          <h1 class="display-3 text-center">Agrega un Comentario</h1>
  <form @submit.prevent="addTask">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Correo</label>
      <input type="email" class="form-control" placeholder=" juan.manuel@gmail.com"  v-model="task.correo" id="email" >
    </div>
    <div class="form-group col-md-6">
      <label for="title">Titulo</label>
      <input type="text" class="form-control" placeholder=" Felicitacion." v-model="task.titulo" id="title">
    </div>
  </div>
  <div class="form-group">
    <label for="description">Descripcion</label>
  <textarea class="form-control " cols="10" rows="7" id="description" v-model="task.descripcion" placeholder="Escribe aquí tus comentario." ></textarea>
  </div>
  <button type="submit" class="btn btn-success btn-block">Enviar</button>
</form>
</div>
  </div>
</div>
 <!-- ===================== Fin del formulario en tarjeta =============================== -->
    <!-- Footer -->
<footer class="page-footer font-small blue mt-5 ">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://gitlab.com/Masync/section-comments-mongodb.git"> Masync</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  </div>
 
</template>

<script>
 var moment = require('moment');
 require('moment/locale/es')
 
export default {
  data() {
    return {
      moment:moment,
       task: {
         correo: '',
         titulo: '',
         descripcion: ''
       },
       tasks: []
    }
  },
  created(){
    this.getTask();
  },
  methods: {
    addTask() {
      fetch('/api/comments', {
        method: 'POST',
        body: JSON.stringify(this.task),
        headers: {
          'Accept': 'application/json',
          'Content-type': 'application/json'
        }
      }).then(res => res.json())
      .then(data => this.getTask())
    },
    getTask() {
       fetch('/api/comments').then(res => res.json())
      .then(data => {
        this.tasks = data.data
        console.log(this.tasks);
        
        }
      )
    },
    deletedTask(id) {
       fetch('/api/comments/' + id, {
        method: 'DELETE',
        headers: {
          'Accept': 'application/json',
          'Content-type': 'application/json'
        }
      })
      .then(res => res.json())
       .then(data => this.getTask())
      
    },
    editTask(id) {
      console.log(id);
      
    }
  }
}
</script>